<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WWE: Wrestlemania - April 18-19, 2026</key>
	<dict>
		<key>identifier</key>
		<string>1700633087861E49</string>
	</dict>
	<key>GHOST - Feb 21, 2026</key>
	<dict>
		<key>identifier</key>
		<string>09006337A7572E91</string>
	</dict>
	<key>MANÁ - Apr 04, 2026</key>
	<dict>
		<key>identifier</key>
		<string>2D006264BCA738E4</string>
	</dict>
	<key>NBA: Clippers v GSW - Apr 12, 2026</key>
	<dict>
		<key>identifier</key>
		<string>0900630C3FBB5E4B</string>
	</dict>
</dict>
</plist>
